<!-- filepath: /Users/steve.freund/dev/alch-watch/lib/views/_header.erb -->
<nav style="padding: 0 1.5rem; border: 1px solid var(--pico-secondary); background-color: var(--pico-background);">
  <ul>
    <li class="var(--pico-h1-color)"><strong>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-globe-icon lucide-globe"><circle cx="12" cy="12" r="10"/><path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"/><path d="M2 12h20"/></svg>
      sfreund.tools
    </strong></li>
    <li>
  </ul>
  <ul>
    <li>
      <details class="dropdown">
        <summary >Tools</summary>
        <ul dir="rtl">
          <li>
            <a
              href="/alchemist"
              class="nav-link <%= request.path_info == '/alchemist' ? 'active' : '' %>"
            >
              Alchemist
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-coins-icon lucide-coins"><circle cx="8" cy="8" r="6"/><path d="M18.09 10.37A6 6 0 1 1 10.34 18"/><path d="M7 6h1v4"/><path d="m16.71 13.88.7.71-2.82 2.82"/></svg>
            </a>
          </li>
          <li>
            <a
              href="/suggestion"
              class="nav-link <%= request.path_info == '/suggestion' ? 'active' : '' %>"
            >
              Grind Guru
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkles-icon lucide-sparkles"><path d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z"/><path d="M20 3v4"/><path d="M22 5h-4"/><path d="M4 17v2"/><path d="M5 18H3"/></svg>
            </a>
          </li>
        </ul>
    </details>
    </li>
  </ul>
</nav>

<style>
  .nav-link.active {
    background-color: rgba(251, 191, 36, 0.3); /* amber-300 with 30% opacity */
  }
</style>